<!DOCTYPE html>

<html>

    <head>

        <title>Humor It| About</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
        

    </head>

    <body>

        <div class="main-content">
            {{>header}}

        <p>{{description}}</p>

        <img class="potrait" src="./img/me.JPG" alt="">

        </div>

        {{>footer}}

    </body>

</html>
